.App {
  /*background: url(../assets/gdfgtryhfgh54.png) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
  font-family: 'Overpass', 'Segoe UI', 'Roboto', 'Oxygen';
  font-weight: 350 !important;
}

.logo {
  text-decoration: none !important;
}
